@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container">
    <div class="row">

        <div class="col-lg-5 DataForm">
            <form class="AddDataForm" method="post" asp-controller="Index" asp-action="Login">
                <h2>Login</h2>
                <div class="form-group">
                    <label asp-for="Username" class="surname">Gebruikersnaam:</label>
                    <input asp-for="Username" class="form-control" maxlength="256" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="surname">Wachtwoord:</label>
                    <input asp-for="Password" class="form-control" maxlength="256" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div>
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form> 
            <div>
                <h5>Nog geen account? <a asp-page="/Register">Registreer hier</a></h5>          
            </div>
        </div>
    </div>
</div>